<!doctype html>
<html lang="en" dir="ltr">
<head>
{{#block "head"}}{{/block}}

<link href="/main.62d74c625d4313ef3994.css" rel="stylesheet">

</head>

<body class="{{bodyclass}}">
  {{#block "body"}}{{/block}}
</body>

{{#block "scripts"}}{{/block}}


<script src="/bundle.62d74c625d4313ef3994.js"></script>



</html>
