{{#extend "html/template"}}
  {{#content "head"}}
  <title>Motionharvest.com</title>
  {{/content}}
  {{#content "body"}}
    <main role="main">
      {{> partials/header }}
      <h1>{{site.title}}</h1>
    </main>
    <a href="page">Go to page</a>
  {{/content}}
{{/extend}}
