{{#extend "html/template"}}
  {{#content "head"}}
  <title>Motionharvest.com</title>
  {{/content}}
  {{#content "body"}}
    <main role="main">
      {{> partials/header }}
    </main>
    <a href="/">Go to home</a>
  {{/content}}
{{/extend}}
